{% extends "cssurvey/base_admin.html" %}

{% block title %} OCSS Control Panel {% endblock %}

{% block page_title %} Online CSS {% endblock %}

{% block content %}

<main>
    <header class="page-header page-header-compact page-header-light border-bottom bg-white mb-4">
        <div class="container-fluid">
            <div class="page-header-content">
                <div class="row align-items-center justify-content-between pt-3">
                    <div class="col-auto mb-3">
                        <h1 class="page-header-title">
                            <div class="page-header-icon"><i data-feather="user"></i></div>
                            Account Settings - Security
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main page content-->
    <div class="container mt-4">
        <!-- Account page navigation-->
        <nav class="nav nav-borders">
            {% if own %}
                <a class="nav-link ml-0" href="{% url 'my_account' %}">Profile</a>
                <a class="nav-link active" href="{% url 'my_password' %}">Security</a>
            {% else %}
                <a class="nav-link ml-0" href="{% url 'view_user' profile.id %}">Profile</a>
                <a class="nav-link active" href="{% url 'change_password' profile.id %}">Security</a>
            {% endif %}
        </nav>
        <hr class="mt-0 mb-4" />
        {% include 'cssurvey/messages.html' %}
        <div class="row">
            <div class="{% if own %}col-lg-12{% else %}col-lg-8{% endif %}">
                <!-- Change password card-->
                <div class="card mb-4">
                    <div class="card-header">Change Password</div>
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <!-- Form Group (new password)-->
                            {% if own %}
                                <div class="form-group">
                                    <label class="small mb-1" for="id_old_password">Current Password</label>
                                    <input class="form-control" id="id_old_password" name="old_password" autocomplete="current-password" type="password" placeholder="Enter current password" required/>
                                </div>
                                <hr class="mt-2 mb-4" />
                            {% endif %}
                            <div class="form-group">
                                <label class="small mb-1" for="id_new_password1">New Password</label>
                                <input class="form-control" id="id_new_password1" name="new_password1" autocomplete="new-password" type="password" placeholder="Enter new password" required/>
                            </div>
                            <!-- Form Group (confirm password)-->
                            <div class="form-group">
                                <label class="small mb-1" for="id_new_password2">Confirm Password</label>
                                <input class="form-control" id="id_new_password2" name="new_password2" autocomplete="new-password" type="password" placeholder="Confirm new password" required/>
                            </div>
                            <button class="btn btn-primary" type="submit">Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
            {% if not own %}
                <div class="col-lg-4">
                    <!-- Delete account card-->
                    {% if profile.is_active %}
                        <div class="card mb-4">
                            <div class="card-header">Deactivate {{ profile.first_name }}'s Account</div>
                            <div class="card-body">
                                <p>By doing so, the user will be unable to login to his/her account. If you are sure you want to deactivate the user's account, click the button below.</p>
                                <button class="btn btn-danger-soft text-danger" type="button" data-toggle="modal" data-target="#deactivateUserModal">I understand, deactivate this account</button>
                            </div>
                        </div>
                    {% else %}
                        <div class="card mb-4">
                            <div class="card-header">Reactivate {{ profile.first_name }}'s Account</div>
                            <div class="card-body">
                                <p>By doing so, the user will be able to login again to his/her account. If you are sure you want to reactivate the user's account, click the button below.</p>
                                <button class="btn btn-success-soft text-success" type="button" data-toggle="modal" data-target="#reactivateUserModal">I understand, reactivate this account</button>
                            </div>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>

    <!-- Deactivate User Modal -->
    <div class="modal fade" id="deactivateUserModal" tabindex="-1" role="dialog" aria-labelledby="deactivateUserModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deactivateUserModalTitle">Deactivate User</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">Are you sure you want to deactivate this user?</div>
                <div class="modal-footer">
                    <button class="btn btn-teal" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-danger mr-2" type="button" onclick="$('#deactivate').click()">Deactivate</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Reactivate User Modal -->
    <div class="modal fade" id="reactivateUserModal" tabindex="-1" role="dialog" aria-labelledby="reactivateUserModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reactivateUserModalTitle">Reactivate User</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">Are you sure you want to reactivate this user?</div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success mr-2" type="button" onclick="$('#reactivate').click()">Reactivate</button>
                </div>
            </div>
        </div>
    </div>
    <form action="{% url 'deactivate_user' profile.id %}" method="POST" style="display: none;">
        {% csrf_token %}
        <button id="deactivate" type="submit">Deactivate</button>
    </form>
    <form action="{% url 'reactivate_user' profile.id %}" method="POST" style="display: none;">
        {% csrf_token %}
        <button id="reactivate" type="submit">Reactivate</button>
    </form>
</main>

{% endblock %}