{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <div class="alert alert-success alert-icon" role="alert">
                <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="alert-icon-aside">
                    <i data-feather="pocket"></i>
                </div>
                <div class="alert-icon-content">
                    <h6 class="alert-heading">Success</h6>
                    {{ message }}
                </div>
            </div>
        {% elif message.tags == 'error' %}
            <div class="alert alert-danger alert-icon" role="alert">
                <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="alert-icon-aside">
                    <i data-feather="alert-triangle"></i>
                </div>
                <div class="alert-icon-content">
                    <h6 class="alert-heading">Error</h6>
                    {{ message }}
                </div>
            </div>
        {% elif message.tags == 'warning' %}
            <div class="alert alert-warning alert-icon" role="alert">
                <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="alert-icon-aside">
                    <i data-feather="alert-octagon"></i>
                </div>
                <div class="alert-icon-content">
                    <h6 class="alert-heading">Warning</h6>
                    {{ message }}
                </div>
            </div>
        {% elif message.tags == 'info' %}
            <div class="alert alert-info alert-icon" role="alert">
                <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <div class="alert-icon-aside">
                    <i data-feather="info"></i>
                </div>
                <div class="alert-icon-content">
                    <h6 class="alert-heading">Information</h6>
                    {{ message }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}